StrikeBlade.gmx/Configs/Default/PS3/PARAM.SFO
StrikeBlade.gmx/Configs/Default/PS3/pic1.png
StrikeBlade.gmx/Configs/Default/PS3/icon0.png
StrikeBlade.gmx/rooms/rmTest.room.gmx
StrikeBlade.gmx/sprites/sprkeyDoor.sprite.gmx
StrikeBlade.gmx/sprites/sprkeyDoor.sprite.gmx
StrikeBlade.gmx/sprites/sprite74.sprite.gmx